.form {
  display: flex;
  align-items: center;
}

.span {
  display: block;
  color: rgb(141, 137, 137);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

input {
  line-height: 1.8;
  font-size: 16px;
  margin: 10px;
  border: solid 1px rgb(167, 162, 162);
  background-color: #eee;
}

input:focus {
  background-color: #fff;
}

.bookName {
  min-width: 500px;
  padding-left: 10px;
}

.author {
  width: 250px;
  padding-left: 10px;
}

.number {
  width: 150px;
  padding-left: 10px;
}

.btn {
  margin-top: 16px;
  margin-left: 43px;
  padding: 7px 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  border: 1px solid rgb(156, 150, 140);
  background-color: rgb(156, 150, 140);
}

.title {
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 3.2;
}

.boxBooks {
  display: flex;
  justify-content: start;
  color: rgb(141, 137, 137);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 3.2;
  margin-left: 44px;
}

.secondBoxBooks {
  display: flex;
  justify-content: start;
  color: rgb(10, 9, 9);
  font-size: 16px;
  line-height: 3.2;
}

.nameBook {
  min-width: 350px;
}

.authorBook {
  min-width: 300px;
}

.yearBook {
  min-width: 200px;
}

.storBook {
  min-width: 100px;
}

.list {
  list-style: none;
}

.wrapBooks {
  display: flex;
  align-items: center;
}

.button {
  padding: 8px 40px;
  background-color: rgb(100, 96, 134);
  border: none;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button:hover {
  background-color: blue;
}

.mainBox {
  background-color: #fff;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.image {
  margin: 10px;
}

.rating {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}
