.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  margin-top: 54px;
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
} */
