.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.loginFormContrainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 450px;
  background-color: rgb(29, 57, 94);
}

.imgStyle {
  width: 450px;
  height: 100vh;
  background-size: cover;
  position: absolute;
  opacity: 0.3;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 244px;
  height: 32px;
  margin: 0 auto;
}

.input:focus,
.input:active {
  outline: none;
}

.loginForm {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  height: 321px;
  position: relative;
  z-index: 1;
}

.logInButton {
  width: 252px;
  height: 45px;
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 107, 0);
  border: 0;
  font-size: 16px;
  font-weight: bold;
}

.regButton {
  margin: 0 auto;
  padding: 3px;
  border: 2px solid transparent;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.regButton:hover {
  outline: none;
  border-color: rgb(255, 107, 0);
}

.quoteContainer {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comma {
  color: rgb(255, 107, 0);
  font-size: 36px;
  transform: rotate(180deg);
  text-align: center;
  margin: 0px;
}

.quote {
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

.author::before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: rgb(128, 128, 128);
  margin: 0 auto;
  margin-top: 15px;
}

.author {
  font-size: 16px;
  text-align: center;
  margin: 0px;
}

.qouteCommaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  height: 321px;
  margin: 0 auto;
}
