.resultSection {
  margin-top: 15px;
}

.title {
  flex-basis: 100%;
  font-size: 13px;
  font-family: 'Open Sans';
  color: rgb(0, 24, 62);
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 1px;
  background-color: rgb(223, 230, 236);
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 1px;
  background-color: rgb(223, 230, 236);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  font-size: 13px;
  font-weight: 600;
}

.tr {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.table td {
  width: 33.333%;
}

.time {
  color: rgb(129, 136, 153);
  text-align: right;
}

.date {
  color: rgb(0, 24, 62);
  text-align: left;
}

.pages {
  color: rgb(0, 24, 62);
  text-align: right;
}

.wrapper {
  padding: 5px;
}

.pages span {
  font-size: 11px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: rgb(129, 136, 153);
  padding-left: 5px;
}
