.nameBook {
  width: 25%;
}

.authorBook {
  width: 20%;
}

.yearBook {
  width: 10%;
}

.storBook {
  width: 10%;
}

.storBookPlanned {
  width: 10%;
  margin-right: 120px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 44px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* line-height: 3.2; */
}

.boxBooks {
  display: flex;
  justify-content: space-between;
  color: rgb(141, 137, 137);
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 14px;
  line-height: 3.2;
  padding-left: 44px;
  width: 100%;
}

.rating {
  width: 25%;
  margin-right: 40px;
}

/*ReadingList*/

.plannedTitle {
}
