.form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}

.span {
  display: block;
  color: rgb(141, 137, 137);
  font-size: 14px;
  margin-left: 10px;
}

input {
  line-height: 1.8;
  font-size: 16px;
  margin: 10px;
  border: solid 1px rgb(167, 162, 162);
  background-color: #f6f7fb;
}

input:focus {
  background-color: #fff;
}

.bookName {
  min-width: 450px;
  padding-left: 10px;
}

.author {
  width: 250px;
  padding-left: 10px;
}

.number {
  width: 150px;
  padding-left: 10px;
}

.btn {
  display: block;
  width: 200px;
  background-color: #f5f7fa;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #00183e;
  padding: 8px;
  margin-top: 15px;
}

.btn:hover {
  border-color: #ef6537;
  background-color: #ef6537;
  color: #ffffff;
}
