* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f6f7fb;
}

.startTrainingMainContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3% 4% 0 4%;
  width: 100%;
}

.startTrainingContainer {
  width: 67%;
}

.startTitle {
  color: #fff;
  background-color: #b1b5c1;
  text-align: center;
  padding: 18px 0px;
  margin-bottom: 32px;
  box-shadow: 0px 5px 5px 0px rgba(223, 226, 235, 0.75);
}

.calendarContainer {
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 32px;
}

.calendarInput {
  display: block;
  height: 40px;
  width: 100%;
  color: #9195a1;
  background-color: #f6f7fb;
  border: 1px solid #d4d7de;
  padding-left: 50px;
  cursor: pointer;

  background-image: url(../../assets/icons/IconStartTraining/calendarIcon.png),
    url(../../assets/icons/IconStartTraining/arrow.png);
  background-repeat: no-repeat;
  background-size: 6%, 5%;
  background-position-x: 8%, 96%;
  background-position-y: 50%, 50%;
  border: #9195a1 2px solid;
  border-radius: 2px;
}

.calendarInput:focus {
  outline: none;
}

.bookSelectForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bookSelectField {
  width: 77%;
  height: 40px;
  padding: 0 20px;
  color: #a4a6b2;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(223, 226, 235, 0.75);
  outline: none;
  appearance: none;
  background-image: url(../../assets/icons/IconStartTraining/arrow.png);
  background-repeat: no-repeat;
  background-size: 1.5%;
  background-position-x: 97%;
  background-position-y: 50%;
  overflow: hidden;
}

.bookSelectSubmit {
  padding: 10px 0;
  width: 20%;
  background-color: #f6f7fb;
  border: 1px solid #000;
  cursor: pointer;
}

/* TABLE STYLE */

.selectedBookTable {
  display: block;
  color: #8d919d;
  margin-bottom: 40px;
  border-bottom: 1px solid #e3e8ec;
  border-collapse: collapse;
  width: 100%;
}
thead {
  display: block;
  padding: 6px 0;
  border-top: 1px solid #e3e8ec;
  border-bottom: 1px solid #e3e8ec;
  width: 100%;
}

tbody {
  height: 235px;
  display: block;
  overflow: auto;
}

tbody::-webkit-scrollbar {
  width: 6px;
}
tbody::-webkit-scrollbar-track {
  background: #e6e6ee;
}
tbody::-webkit-scrollbar-thumb {
  background: #b1b7c5;
  border-radius: 4px;
}

tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  color: #494b57;
  padding: 3px 0;
}
.row {
  display: flex;
  width: 100%;
}
th {
  text-align: start;
}
thead.tr {
  width: 100%;
}
.selectedBookTableBookName {
  display: inline-block;
  width: 52%;
}

td.selectedBookTableBookName::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url(../../assets/icons/IconStartTraining/book.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.selectedBookTableAuthor {
  display: flex;
  align-items: center;
  width: 24%;
}
.selectedBookTableYear {
  display: flex;
  align-items: center;
  width: 9%;
}
.deleteBtn {
  width: 10%;
  display: flex;

  justify-content: center;
}
.selectedBookTablePages {
  display: flex;
  align-items: center;
  min-width: 42px;
  justify-content: flex-end;
}

.selectedBookDelete {
  border: none;
  width: 24px;
  height: 24px;
  background: none;
  background-image: url(../../assets/icons/IconStartTraining/Bin.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  outline: none;
}

.startTrainingButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 11px 0;
  text-decoration: none;
  width: 18%;
  background-color: #ff6b01;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* BOOK STATISTIC */
.bookStatisticContainer {
  width: 25%;
  height: 320px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(223, 226, 235, 0.75);
}

.bookStatisticTitle {
  color: #fff;
  background-color: #b1b5c1;
  text-align: center;
  padding: 18px 0px;
  box-shadow: 0px 5px 5px 0px rgba(223, 226, 235, 0.75);
}
.bookStatisticBlockContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
