/* TABLE STULE */

.selectedBookTable {
  display: block;
  color: #8d919d;
  width: 898px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e3e8ec;
}
thead {
  display: block;
  padding: 6px 0;
  width: 898px;
  border-top: 1px solid #e3e8ec;
  border-bottom: 1px solid #e3e8ec;
  margin-bottom: 10px;
}

tbody {
  display: block;
  overflow: auto;
}

tbody::-webkit-scrollbar {
  width: 6px;
}
tbody::-webkit-scrollbar-track {
  background: #e6e6ee;
}
tbody::-webkit-scrollbar-thumb {
  background: #b1b7c5;
  border-radius: 4px;
}

tbody td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  color: #494b57;
  width: 49%;
  /* margin-bottom: 10px; */
  display: inline-block;
}

th {
  text-align: start;
}

.selectedBookTableBookName {
  display: inline-block;
  width: 49%;
}

tr {
  display: block;
}

td.selectedBookTableBookNameChecked::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../../../assets/icons/checkbox/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

td.selectedBookTableBookNameEmpty::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../../../assets/icons/checkbox/checkbox_empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.selectedBookTableAuthor {
  display: inline-block;
  width: 30%;
}
.selectedBookTableYear {
  display: inline-block;
  width: 15%;
}
.selectedBookTablePages {
  display: inline-block;
  width: 5%;
  /* margin-right: 16px; */
}

/* .selectedBookDelete {
  border: none;
  width: 20px;
  height: 20px;
  align-self: center;
  background: none;
  background-image: url(../../../assets/icons/IconStartTraining/Bin.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
} */

.startStatisticsButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  width: 188px;
  height: 40px;
  background-color: #ff6b01;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
